@font-face {
    font-family: "vivoSans-Regular";
    src: url("vivoSans-Regular.eot"); /* IE9 */
    src: url("vivoSans-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    
    url("vivoSans-Regular.woff") format("woff"), /* chrome、firefox */
    url("vivoSans-Regular.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("vivoSans-Regular.svg#vivoSans-Regular") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


