@font-face {
  font-family: 'vivosans';
  src: url('/fonts/vivoSans-Regular.eot'); /* IE9+ Compat Modes */
  src: url('/fonts/vivoSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/vivoSans-Regular.woff2') format('woff2'), /* Super modern browsers */
       url('/fonts/vivoSans-Regular.woff') format('woff'), /* Modern browsers */
       url('/fonts/vivoSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/vivoSans-Regular.svg#vivosans') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

/* 应用于全站 */
:root {
  --vp-font-family-base: 'vivosans', sans-serif;
}

body {
  font-family: 'vivosans', sans-serif;
}
