/* Regular (400) */
@font-face {
  font-family: 'vivosans';
  src: url('https://cdn.jsdmirror.com/gh/mtfreport/MtF.Report@main/example/docs/public/fonts/vivoSans-Regular.woff2') format('woff2'),
       url('https://cdn.jsdmirror.com/gh/mtfreport/MtF.Report@main/example/docs/public/fonts/vivoSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* Medium (500) */
@font-face {
  font-family: 'vivosans';
  src: url('https://cdn.jsdmirror.com/gh/mtfreport/MtF.Report@main/example/docs/public/fonts/vivoSans-Medium.woff2') format('woff2'),
       url('https://cdn.jsdmirror.com/gh/mtfreport/MtF.Report@main/example/docs/public/fonts/vivoSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

/* DemiBold (600) */
@font-face {
  font-family: 'vivosans';
  src: url('https://cdn.jsdmirror.com/gh/mtfreport/MtF.Report@main/example/docs/public/fonts/vivoSans-DemiBold.woff2') format('woff2'),
       url('https://cdn.jsdmirror.com/gh/mtfreport/MtF.Report@main/example/docs/public/fonts/vivoSans-DemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

/* Bold (700) */
@font-face {
  font-family: 'vivosans';
  src: url('https://cdn.jsdmirror.com/gh/mtfreport/MtF.Report@main/example/docs/public/fonts/vivoSans-Bold.woff2') format('woff2'),
       url('https://cdn.jsdmirror.com/gh/mtfreport/MtF.Report@main/example/docs/public/fonts/vivoSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* ExtraBold (800) */
@font-face {
  font-family: 'vivosans';
  src: url('https://cdn.jsdmirror.com/gh/mtfreport/MtF.Report@main/example/docs/public/fonts/vivoSans-ExtraBold.woff2') format('woff2'),
       url('https://cdn.jsdmirror.com/gh/mtfreport/MtF.Report@main/example/docs/public/fonts/vivoSans-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

/* Heavy (900) */
@font-face {
  font-family: 'vivosans';
  src: url('https://cdn.jsdmirror.com/gh/mtfreport/MtF.Report@main/example/docs/public/fonts/vivoSans-Heavy.woff2') format('woff2'),
       url('https://cdn.jsdmirror.com/gh/mtfreport/MtF.Report@main/example/docs/public/fonts/vivoSans-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}


:root {
  --vp-font-family-base: 'vivosans', sans-serif;
}

body {
  font-family: var(--vp-font-family-base);
  font-weight: 400;
}

h1 {
  font-weight: 900; /* Heavy */
}

h2 {
  font-weight: 800; /* ExtraBold */
}

h3 {
  font-weight: 700; /* Bold */
}

h4 {
  font-weight: 600; /* DemiBold */
}

h5 {
  font-weight: 500; /* Medium */
}

h6 {
  font-weight: 400; /* Regular */
}

p {
  font-weight: 500; /* Medium */
}

span.name.clip {
  font-weight: 900;
}

strong {
  font-weight: 700; /* Medium */
}
